body {
  background-color: rebeccapurple;
  font-family: Arial, Helvetica, sans-serif;

}

a:hover {
  color: black;
}
a:active{
  color:white;
}

a:visited{
  color: white;
}

.Home {
  font-size: 64px;
  color: red;
  font-weight: 800;
  border: 1px solid black;
  padding: 100px 0px 0px 0px;
}
.zag{

  font-size: 72px;
  color: blue;
  /* background-color: yellow; */
  font-weight: 800;
  border: 2px dashed black;
  text-align: center;
}

.spisok{
  border: 2px solid rgb(114, 84, 28);
  list-style: none;
}

.type_b{
border: 5px solid black;
}

span{
 font-size: 32px;
 font-weight: 900;
}

.test_form{
  padding: 100px 100px 100px 100px;
  margin: 15px 10px 0px 10px;
  background-color: gray;
}

.test_form input[type="text"],
.test_form input[type="password"] {
  width: 100%;
}

.test_form button {
  background-color: green;
  color: white;
  width: 100%;
  height: 100px;
  margin: 25px 0px 0px;
  border-radius: 100px;
}